.navbar {
    position: fixed;
    width: 105%;
    background-color: #333;
    overflow-x: hidden;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #BA0C2F;
    color: white;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

body::-webkit-scrollbar { width: 0 !important }

.upcoming {
    display: flex;
    border: 1px solid black;
    margin-left: -10px;
    margin-right: -10px;
}

.left-column, .right-column {
    flex: 50%;
}

.left-column, .right-column {
    float: left;
    width: 50%;
}

#coming-soon {
    margin-top: 2px;
    width: 100%;
    max-height: 90%;
    height: 81%;
    object-fit: cover;
}

#header {
    position: absolute;
}

body p {
    font-family: Blippo, fantasy;
    letter-spacing: 1px;
    color: black;
    text-align: center;
}

#main {
    margin-top: 40%;
    font-size: 60px;
}

#subtitle {
    font-size: 30px;
}