.navbar {
    background-color: #333;
    overflow-x: hidden;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #BA0C2F;
    color: white;
}

body {
    overflow-x: hidden;
}

.event {
    order: 1;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    max-width: 95%;
    max-height: 222px;
    height: 450px;
    margin: 20px; 
    box-shadow: 3px 2px lightgray;
}

.event:hover {
    cursor: pointer;
    box-shadow: 5px 3px gray;
}

#section-header {
    text-decoration: underline;
}