.navbar {
    background-color: #333;
    overflow: hidden;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #BA0C2F;
    color: white;
}

body {
    overflow: hidden;
    background-image: linear-gradient(
        115deg,
        rgba(7, 7, 7, 0.8),
        rgba(61, 61, 61, 0.7)
      ),
      url('Fort.jpg');
    background-size: cover;
}

body p {
    font-family: Blippo, fantasy;
    letter-spacing: 1px;
    font-size: 40px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px #bA0C2F;
}

#main {
    padding-top: 300px;
}

#subtitle {
    padding-bottom: 200px;
}